<%- include ('../partials/_header.ejs') %>
    <h1>Edit a Forum</h1>
    <form action="/forums/<%=forum._id%>?_method=PUT" method="POST" class="edit-form">
        <div class="form-group">
            <label for="field" class="form-label">Field:</label>
            <input type="text" name="field" id="field" value="<%= forum.field %>" required class="form-input">
        </div>
        <div class="form-group">
            <label for="description" class="form-label">A brief description:</label>
            <textarea name="description" id="description" placeholder="<%= forum.description %>" required maxLength="100" class="form-input"></textarea>
        </div>
        <button type="submit" class="submit-btn">Update</button>
    </form>
    <a href="/forums" class="page-links">Back to Forums</a>
<%- include ('../partials/_footer.ejs') %>