<%- include ('../partials/_header.ejs') %>
<h1>Forums</h1>
<div class="forum-table">
    <table>
        <thead>
            <tr>
                <th class="forum-header">Forum</th>
                <th class="forum-header">Topics</th>
                <th class="forum-header">Posts</th>
            </tr>
        </thead>
        <tbody>
            <% forums.forEach((forum, index) => { %>
                <tr class="<%= index % 2 === 0 ? 'odd' : 'even' %>">
                    <td>
                        <h2><a href="/forums/<%= forum._id %>"><%= forum.field %></a></h2>
                        <p id="forum-description"><%= forum.description %></p>
                    </td>
                    <td><%= forum.numTopics %></td>
                    <td><%= forum.numPosts %></td>
                </tr>
                <tr><td colspan="3"><hr class="separator"></td></tr>
            <% }) %>
        </tbody>
    </table>
    <% if (user && user.isAdmin) { %>
      <p>
        <a href="/forums/new">Add New Forum</a>
      </p>
    <% } %>
</div>
<%- include ('../partials/_footer.ejs') %>