<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forums - Awards Forum</title>
  </head>
  <body>
    <h1>Forums</h1>
    <table>
        <thead>
            <tr>
                <th>Forum</th>
                <th>Topics</th>
                <th>Posts</th>
            </tr>
        </thead>
        <tbody>
            <% forums.forEach(forum => { %>
                <tr>
                    <td>
                        <h2><a href="/forums/<%= forum._id%>"><%= forum.field %></a></h2> <!-- consider making the parameter related to forum name once 1) duplicates are prevented and 2) admin authority required, also make sure it is lowercase-->
                        <p><%= forum.description %></p>
                    </td>
                    <td><%= forum.numTopics %></td>
                    <td><%= forum.numPosts %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <% if (user && user.isAdmin) { %>
      <p>
        <a href="/forums/new">Add New Forum</a>
      </p>
    <% } %>
  </body>
</html>