<%- include ('../partials/_header.ejs') %>
      <h1>Create a Thread</h1>
      <form action="/forums/<%= forum %>" method="post">
        <div>
            <label for="title">Discussion Topic:</label>
            <input type="text" name="title" id="title" required>
        </div>
        <input type="hidden" name="createdBy" value="<%= username %>">
        <button type="submit">Launch</button>
      </form> 
    <a href="/forums/<%= forum %>">Back to Discussions</a>
<%- include ('../partials/_footer.ejs') %>