<%- include ('../partials/_header.ejs') %>
    <h1><%= topic.title %></h1>
    <div class="post-list">
        <h2>Posts:</h2>
        <% posts.forEach((post, index) => { %>
            <div class="post <%= index % 2 === 0 ? 'odd' : 'even' %>">
                <p><strong><%= post.postedBy %></strong> - <%= post.createdAt.toLocaleString() %></p>
                <p><%= post.content %></p>
    
                <% if (user && (user.username === post.postedBy || user.isAdmin)) { %>
                    <form action="/forums/<%= forum._id %>/<%= topic._id %>/<%= post._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="submit-btn">Delete Post</button>
                    </form>
                <% } %>
            </div>
        <% }) %>
    </div>
    <div class="pagination">
        <% if (currentPage > 1) { %>
            <a href="/forums/<%= forum._id %>/<%= topic._id %>?page=<%= currentPage - 1 %>" class="pagination-btn">Previous</a>
        <% } %>
    
        <span>Page <%= currentPage %> of <%= totalPages %></span>
    
        <% if (currentPage < totalPages) { %>
            <a href="/forums/<%= forum._id %>/<%= topic._id %>?page=<%= currentPage + 1 %>" class="pagination-btn">Next</a>
        <% } %>
    </div>
    <% if (user) { %>
        <div class="post-reply-form">
            <h2>Post a Reply:</h2>
            <form action="/forums/<%= forum._id %>/<%= topic._id %>" method="POST">
                <textarea name="content" required></textarea>
                <button type="submit" class="submit-btn">Post</button>
            </form>
        </div>
    <% } %>
    <div>
        <% if ((user && user.username === topic.createdBy) || user && user.isAdmin) { %>

            <form action="/forums/<%= forum._id %>/<%= topic._id %>?_method=DELETE" method="POST">
                <button type="submit" class="submit-btn">Delete this topic</button>
            </form>
            <a href="/forums/<%= forum._id %>/<%= topic._id %>/edit" class="submit-btn">Edit Topic</a>
        <% } %>
        <a href="/forums/<%= forum._id%>" class="page-links">Back to Topics</a>
    </div>
<%- include ('../partials/_footer.ejs') %>